<section class="container paddingbottom standardpadding">
<div class="largeSection span-15">
	

	<ul class="users clear">
	  <% @users.each do |user| %>
	    <%= render user %>
	  <% end %>
	</ul>
</div>

<aside class="span-9 last">

</aside>
</section>