<div class="standardpadding">

  <% if @user.festivals.count > 0 %>
	 <%= render @user.festivals %>
     <% else %>
	   You have not set up any festivals yet... Click below to add your festival.
     <% end %>
      <br />
	<%= link_to("Set up a new festival", new_festival_path) %>

</div>
