<div class="standardpadding">
<div class="paddingbottom">
  <%= render @festival %>

<%= link_to 'Edit', edit_festival_path(@festival) %> 
</div>
<h2>Stages</h2>
	<% if !@festival.stages.nil?%>
	<ol class="stages">
		<%= render  @festival.stages %>
	</ol>
	<% end  %>


<div style="clear:both">
	<%= link_to "add stage +",  new_festival_stage_path (@festival)  %>
  </div>
	

</div>